@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Heading{
  font-family: 'Prompt', sans-serif;
  font-size: 20pt;
  font-weight: 600;
  color: #99378c;
}
.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 150px;
  margin-right: 150px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/* items */
.container {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
}

.card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px;
}
.card-media {
  width: 100%;
  height: 150px;
}
.card-content {
  display: flex;
  flex-direction: column;
}
.price-product{
  font-family: 'Prompt', sans-serif;
  font-weight: 600; /* regular weight */ 
  font-size: 17pt;
  margin: 0;
  color: #ff1a00;
}
.name-product {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width:100%;
  color: #434343;
  font-family: 'Prompt', sans-serif;
  font-weight: 400; /* regular weight */ 
  font-size: 14pt;
  margin: 0;
}

.card .button {
  display: block;
  width: 100%;
  background-color: #99378c;
  color: white;
  font-family: 'Prompt', sans-serif;
  font-weight: 400; /* regular weight */ 
  font-size: 14pt;
  border: none;
}

/* footer */
.containerfooter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding-right: 250px;
}

.box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

.subtotal {
  font-family: 'Prompt', sans-serif;
  font-weight: 400; /* regular weight */ 
  font-size: 14pt;
  margin: 0;
}

.price {
  font-family: 'Prompt', sans-serif;
  font-weight: 400; /* regular weight */ 
  font-size: 14pt;
  margin: 0;
}

.input-field {
  width: 270px;
  height: 40px;
  font-family: 'Prompt', sans-serif;
  font-weight: 400; /* regular weight */ 
  font-size: 14pt;
  color: #434343;
  border: 1px solid #989898;
  text-align: center;
}

.button-couponCode {
  font-family: 'Prompt', sans-serif;
  font-weight: 400; /* regular weight */  /* semi-bold weight */
  font-size: 14pt;
  margin-left: 10px;
  width: 100px;
  height: 40px;
  background-color: #99378c;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}

.shipping {
  font-family: 'Prompt', sans-serif;
  font-size: 14pt;
  margin: 0;
}

.discount {
  font-family: 'Prompt', sans-serif;
  font-size: 14pt;
  margin: 0;
}

.total {
  font-family: 'Prompt', sans-serif;
  font-size: 14pt;
  font-weight: 600; /* semi-bold weight */
  color: #ff1a00;
  margin: 0;
}
.grandTotal{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}